		
		 <div id="map-canvas"> 
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7098.94326104394!2d78.0430654485247!3d27.172909818538997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1385710909804" width="600" height="450" frameborder="0" style="border:0"></iframe>
		 </div>
		 
		 <div id="control"> </div>
		 
		 <div id="directions-panel"> </div>

		<div id="trip-stats">
			<h3 id="trip-name"><%= @trip.name.capitalize%></h3>
			<ul id="trip-link">
				<li class="trip-list"><strong>Gas Cost:</strong> <%= number_to_currency(@trip.gas_price) %></li>
				<li class="trip-list" ><strong>Distance: </strong><%= @trip.distance %></li>
				<li class="trip-list"><strong>Duration:</strong> <%= @trip.duration %></li>
			</ul>
		</div>

		<div id="cheapest-station">
				<h3 id="station-name"> Cheapest Station around <%= @trip.start.address.capitalize %></h3>
				<ul id="station-link">
				<% @trip.return_cheapest_or_closest_gas_stations.each do |station| %>
					<li> Name: <%= station.name %> </<li>
						<li>Address:<%= station.address %> </li>
						<li>Price: <%= number_to_currency(station.price) %> </li>
						<li> Distance: <%= station.distance %> </li>
				<% end %>
				</ul>
		</div>
		
	
<script type="text/javascript">
	var tripDetails = {start_lat: <%= @trip.start.latitude %>, start_lon: <%= @trip.start.longitude %>, start_address: '<%= @trip.start.address %>', finish_address: '<%= @trip.finish.address %>' };
</script>
	